.card {
    display: flex;         
    flex-direction: column;
    width: 250px;
    min-height: 389px;
    box-shadow: 3px 2px 8px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: 0.2s;
    position: relative;
    margin: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
}
.card:hover{
    box-shadow: 4px 8px 16px  rgb(255, 188, 111);;
}

.card-top{
  flex: 0 0 220px;
  position: relative;
  overflow:hidden;
    
}
.card_image{
    display: block;
    width: 100% ;
    height: 100%;
}

.card_image > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.card_image:hover > img{
    transform: scale(1.1);
}

.card_bottom{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: 10px;
}

.card_prices{
    display: flex;
    margin-bottom: 10px;
   
}

.card_prices::after{
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.card_price-discount{
    font-weight: 700;
    font-size: 19px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap-reverse;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card_price-discount::before{
    content: "со скидкой";
    font-weight: 400;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card_price-common{
    font-weight: 400;
    font-size: 17px;
    color: rgb(5, 5, 5);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card_price-common::after{
    content: "обычная";
    font-weight: 400;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.card_title{
    display: block;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    line-height: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card_title:hover{
    color: rgb(219, 124, 0);
}
.card_add{
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: white;
    padding: 10px;
    background-color: black;
    border: 2px black;
    border-radius: 20px;
    cursor: pointer;
    margin-top: auto;
}

.card_add:hover{
    border: 1px solid rgb(255, 136, 0);
    background-color:  rgb(255, 136, 0);
    color: rgb(0, 0, 0);
}